*{
    margin: 0;
    padding: 0;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: blue;
    margin:0;
}
.transition-btn{
    padding:10px 20px;
    font-size: 16px;
    color: black;
    background-color: white;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    
}
.transition-btn:hover{
    background-color:red;
    transform: scale(1.1);
    opacity: 5;
   
}
